/* Adjust margin and padding */
main {
    margin-bottom: 50px; /* Adjust the value as needed to create space between the content and the footer */
}

/* Make navbar brand responsive */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Make footer stick to the bottom */
.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 80px;
}

    .footer[b-88m028kdvv] {
        position: absolute;
        bottom: 0;
    }

/* Customize button colors */
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
