@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="mb-4">@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6 ">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="mb-3">
                <label for="oldPassword" class="form-label">Old Password</label>
                <input asp-for="Input.OldPassword" id="oldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter your old password">
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input asp-for="Input.NewPassword" id="newPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter your new password">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" id="confirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm your new password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
    </div>
</div>

<style>
     
    main {
     
        margin-bottom: 50px; /* Adjust the value as needed to create space between the form and the footer */
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
